.container{
 display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  .navBar {
    width: 400px;
    .inputBlock{
      padding: 10px 0;
      .input{
        width: 100%;
      }
    }
    .buttonBlock{
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 50px;
      .button{
height: 40px;
      }
      .error{
        width: 230px;
        height: 100%;
      }
    }
  }
}


