.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarBlock {
    height: 100%;
    width: 30%;
    margin-left: 5px;
    justify-content: space-evenly;
}
.href{
    text-decoration: none;
    color: black;
}

.symbolBlock {
    justify-content: center;
    height: 100%;
    width: 40%;
}

.authorizationBlock {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 30%;
}
