.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 800px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 40%;
    min-height: 700px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 40%;
    width: 70%;
    font-size: 50px;
    font-weight: bold;
}
.image{
   display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 400px;
}

