.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 700px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 450px;
    width: 100%;
}

.titleH2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 53px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    border: 1px solid;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 700px;
    height: 200px;
    border: 1px solid;
}

.authorBlock {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 1px solid;
}

.smallImage {
    width: 40px;
    border: 1px solid;
}

.swiper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 650px) {
    .titleH2 {
        font-size: 33px;
        line-height: 45px;
    }
}